<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="smoke">
      <classes>
         <!--  <class name="weinvest.test.LoginTest"></class> -->
           <class name="weinvest.test.TaskATest"></class>
             <class name="weinvest.test.TaskBTest"></class>
          <class name="weinvest.test.TaskCTest"></class>
          
      </classes>
      
  </test> <!-- Test -->
</suite> <!-- Suite -->
